<% layout('layouts/boilerplate')%>
<h1>All Hikes</h1>
<header>
    <a href="/hikes/new">Add Hike</a>
</header>
    <% for (let hike of hikes) { %>
        <div class="card">
            <div class="row">
                <div class="col">
                    <% if (hike.images.length) {  %>
                    <img class="img-fluid" src="<%= hike.images[Math.floor(Math.random() * hike.images.length)].url %>" alt="random forst image">
                    <% } else { %>
                     <img class="img-fluid" src="https://res.cloudinary.com/dr1j1blc6/image/upload/v1688416952/YelpHikes/nwcaw3ursumlozvdmk4l.jpg" alt="random forst image">
                    <% } %>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title"><%= hike.title %></h5>
                        <p class="card-text"><%= hike.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= hike.location %></small>
                        </p>
                        <a href="/hikes/<%=hike._id%>" class="btn btn-primary">View <%=hike.title %></a>
                    </div>
                </div>
            </div>
        </div>
    <%  }%>
